<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register</h1>
    <form class="" action="/register/employer" method="post">
      <input type="text" name="employer_name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="text" name="company" placeholder="Company">
      <input type="text" name="company_website" placeholder="Company Url">
      <button type="submit">Submit</button>
    </form>
    <br>
    <hr>
    <h1>Login</h1>
    <form class="" action="/login/employer" method="post">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
