<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Add New Project</h1>
  <form class="" action="/addproject/<%= user.id%>" method="post">
    <input type="text" name="title" placeholder="Title of Project">
    <input type="text" name="project_description" placeholder="Project Description">
    <input type="text" name="project_year" placeholder="Year of Project">
    <select type="text" name="status" placeholder="Want To Post To Resume?">
      <option>post</option>
      <option>no post</option>
    </select>
    <input type="text" name="img_url" placeholder="Image Link">
    <input type="text" name="caption" placeholder="Caption of Image">
    <button type="submit">Add Project</button>
  </form>
  </body>
</html>
