<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <style>

   #registerForm {
     display: none;
   }


    .card{
      -webkit-box-shadow: 3px 3px 5px 1px #ccc;
     -moz-box-shadow: 3px 3px 5px 1px #ccc;
      box-shadow:  3px 3px 5px 1px #ccc;
      margin-left: 5em;
      margin-top: 10em;
      padding: 0px 350px 15px 350px;
      text-align: center;
    }
      .btn, .btn-large, .btn-small {
        text-decoration: none;
        color: #fff;
        background-color: #e25b4b;
        text-align: center;
        letter-spacing: .5px;
        -webkit-transition: background-color .2s ease-out;
        transition: background-color .2s ease-out;
        cursor: pointer;
        margin-top: 1em;
      }
      .btn:hover{
        background-color: #ff6f5f;
      }
      .page-footer{
        margin-top: 2em;
        background-color: #fff;
      }

      body {
        background-color: #ebe9e7
      }


    </style>
    <script defer>
      $(document).ready(function(){
        $('select').formSelect();
      });

      function myFunction(){
        var register = document.getElementById("registerForm");
        var login = document.getElementById("loginForm");
        var button = document.getElementById("registerButton")

        if (register.style.display === "none") {
          register.style.display = "block"
          login.style.display = "none"

        } else {
          register.style.display = "none"
          login.style.display = "block"

        }

      }



    </script>
  </head>
  <body>

    <div class="container">
     <div id="loginForm" class="card">
      <h1>Login</h1>
      <form class="" action="/login/user" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
        <div>
        <br>
        <a id="registerButton" onclick="myFunction()">Register</a>
      </div>
      </form>
    </div>


     <div id="registerForm" class="card">
      <h1>Register</h1>
      <br>
      <form action="/register/user" method="post">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="phone_number" placeholder="Phone Number">
        <input type="password" name="password" placeholder="password">
        <input type="text" name="bio" placeholder="Bio">
        <input type="text" name="profile_pic" placeholder="Profile Picture">
        <div class="input-field col s12">
          <select type="text" name="media_type">
           <option value="illustrator">illustrator</option>
           <option value="developer">developer</option>
           <option value="designer">designer</option>
           <option value="graphic artist">graphic artist</option>
           <option value="painter">painter</option>
           <option value="sculptor">sculptor</option>
          </select>
          <label>Media Type</label>
        </div>
      <input type="text" name="city" placeholder="City">
      <input type="text" name="state" placeholder="State">
      <input type="text" name="status" value="user">
      <button class="btn waves-effect waves-light" type="submit" onClick="myFunction()">Register</button>
    </form>

     </div>
    </div>

  </body>
</html>
