<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register</h1>
    <br>
    <form class="" action="/register/user" method="post">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="phone_number" placeholder="Phone Number">
      <input type="password" name="password" placeholder="password">
      <input type="text" name="bio" placeholder="Bio">
      <select type="text" name="media_type" placeholder="Media Type">
       <option>artist</option>
       <option>developer</option>
       <option>creator</option>
       <option>designer</option>
      </select>
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <button type="submit">Register</button>
  </form>
    <br>
    <hr>
    <br>
    <h1>Login</h1>
      <form class="" action="/login/user" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Submit</button>
      </form>
    </form>
  </body>
</html>
